/* ELEMENTS */
button {
    margin: -1px;
	padding: -1px;
}
html {
	font-family: Arial, Helvetica, sans-serif;
}
input[type=number] {
	/* Hide input spinners in Firefox */
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
	/* Hide input spinners in other browsers */
	-webkit-appearance: none;
	margin: 0;
}


/* IDS */
#alertPanel {
	margin: 5px;
	padding: 5px;
}
#board {
	display: inline-block;
	border: 2px solid black;
}


/* CLASSES */
.disabled {
	pointer-events: none;
}
.exploded {
	background-color: darkred;
	color: white;
	border: darkred;
	border-width: 1px;
}
.flagged {
	color: red;
}
.gameBoardBtn {
	font-size: 100%;
	border-radius: 0;
	border: 1px solid darkgray;
	width: 25px;
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
	font-weight: bold;
	text-align: center;
	overflow: hidden;
	display: inline-block;
	margin: -1px;
	padding: -1px;
	position: static;
}
.gameBoardRow {
	height: 25px;
	display: block;
}
.inputArea {
	/* border-left: 2px solid black; */
	display: inline-block;
}
.inputNumber {
	height: 0.65rem;
	width: 28px;
	display: inline-block;
}
.inputTextSpan {
	float: right;
}
.pressed {
	background-color: darkgray;
	width: 25px;
	height: 25px;
}


/* INFO CONTAINER */
#infoContainer {
	font-family: 'Courier New', Courier, monospace;
	border-bottom: 2px solid black;
	color: #000;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.timer {
	margin: auto;
	width: 30%;
	float: left;
	text-align: left;
}
.resetDiv {
	margin: auto;
	text-align: center;
	width: 40%;
	text-align: center;
}
.flagsDiv {
	margin: auto;
	width: 30%;
	float: right;
	text-align: right;
}


/* TEXT COLOR */
.textQ {
	/* question */
	color: orange;
}
.textF {
	/* flag */
	color: darkred;
}
.textM {
	/* mine */
	color: black;
}
.text1 {
	color: blue;
}
.text2 {
	color: green;
}
.text3 {
	color: red;
}
.text4 {
	color: purple;
}
.text5 {
	color: black;
}
.text6 {
	color: maroon;
}
.text7 {
	color: white;
}
.text8 {
	color: turquoise;
}