/* DOM STYLING */
html {
	font-family: Arial, Helvetica, sans-serif;
	overflow-x: auto;
	overflow-y: auto;
}

/* SETTINGS STYLING */
#settingsBtn {
	align-content: center;
	position: fixed;
	bottom: 0;
	left: 1rem;
	border: 2px solid darkgray;
	width: 100px;
	height: 30px;
	padding: 0;
}
#settingsForm {
	display: block;
	height: 20%;
}
input[type='button'] {
	cursor: pointer;
}
input[type='number'] {
	-moz-appearance: textfield; /* Hide input spinners in Firefox */
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none; /* Hide input spinners in other browsers */
	margin: 0;
}
.inputArea {
	display: inline-block;
}
.input {
	display: inline-block;
	overflow: hidden;
}
.number {
	width: 30px;
}

/* SETTINGS MODAL */
.modalDiv {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modalContent {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid darkgray;
	width: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-animation-name: slideIn;
	-webkit-animation-duration: 0.4s;
	animation-name: slideIn;
	animation-duration: 0.4s;
}
.close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
.modalHeader {
	padding: 2px 16px;
	background-color: darkgray;
	color: white;
}
.modalBody {
	padding: 2px 16px;
}
.modalFooter {
	padding: 2px 16px;
	background-color: darkgray;
	color: white;
	text-align: right;
}
@-webkit-keyframes slideIn {
	from {
		bottom: -300px;
		left: -300px;
		opacity: 0;
	}
	to {
		bottom: 0;
		left: 0;
		opacity: 1;
	}
}
@keyframes slideIn {
	from {
		bottom: -300px;
		left: -300px;
		opacity: 0;
	}
	to {
		bottom: 0;
		left: 0;
		opacity: 1;
	}
}

/* MAIN AREA STYLING */
#boardColumn {
	display: inline-block;
	vertical-align: top;
	padding: 1rem;
}
#leaders {
	padding: 1rem;
	display: inline-block;
}

/* BOARD STYLING */
#board {
	display: inline-block;
	border: 2px solid black;
	white-space: nowrap;

	/* disable highlighting of the board */
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.gameBoardRow {
	height: auto;
	margin: 0;
	padding: 0;
	display: block;
}
.gameBoardBtn {
	font-size: 100%;
	border-radius: 0;
	border: 1px solid darkgray;
	width: 25px;
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
	font-weight: bold;
	text-align: center;
	overflow: hidden;
	display: inline-block;
	position: static;
}

/* INFO CONTAINER */
#infoContainer {
	font-family: 'Courier New', Courier, monospace;
	border-bottom: 2px solid black;
	color: #000;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.timerDiv {
	margin: auto;
	width: 40%;
	float: left;
	text-align: left;
}
.resetDiv {
	margin: auto;
	text-align: center;
	width: 20%;
}
#resetBtn {
	height: 1.25rem;
	width: 2rem;
	padding: 0;
	border-radius: 0;
	text-align: center;
	vertical-align: center;
}
.flagsDiv {
	margin: auto;
	width: 40%;
	float: right;
	text-align: right;
}

/* ALERTS STYLING */
#alertPanel {
	display: inline-block;
	position: fixed;
	bottom: 0;
	background: white;
	color: darkred;
	white-space: nowrap;
	left: 50%;
	transform: translateX(-50%);
}
h2 {
	margin: 4px;
}

/* LEADERBOARD STYLING */
table {
	border: 2px solid black;
	border-collapse: collapse;
	width: auto;
}
th {
	border: 2px solid black;
	background-color: darkgray;
	color: darkred;
	padding: 2px 5px;
	text-align: center;
}
tr:nth-child(odd) {
	background-color: lightgray;
}
tr:nth-child(2n + 6) {
	/* Every other row, starting at number 6 */
	color: turquoise;
}
td {
	padding: 0 1rem;
}

/* BUTTON STATES */
.disabled {
	pointer-events: none;
}
.exploded {
	background-color: darkred;
	border: 1px solid darkred;
	color: white;
}
.flagged {
	color: red;
}
.pressed {
	background-color: darkgray;
}
.hidden {
	background-color: rgba(255, 255, 255, 0);
	border: 1px solid darkgray;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
.unfound {
	border: 1px solid darkred;
	color: white;
}

/* TEXT COLOR */
.textQ {
	/* question */
	color: orange;
}
.textF {
	/* flag */
	color: darkred;
}
.textM {
	/* mine */
	color: black;
}
.text0 {
	color: rgba(0, 0, 0, 0);
}
.text1 {
	color: blue;
}
.text2 {
	color: green;
}
.text3 {
	color: red;
}
.text4 {
	color: purple;
}
.text5 {
	color: black;
}
.text6 {
	color: maroon;
}
.text7 {
	color: white;
}
.text8 {
	color: turquoise;
}
